<div class="container">
    <div class="left-section">
        <img src="/assets/file.jpg" alt="Wedding Image 1" class="wedding-image">
        <div class="text-section">
            <h1 class="title">Summer Wedding Colors</h1>
            <p class="description">
                Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultricies.
            </p>
            <p class="credit">Images from <a href="#">Freepik</a></p>
            <button class="learn-more-btn">Learn More</button>
        </div>
    </div>
    <div class="right-section">
        <svg width="325px" height="652px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 325 652">
            <rect width="325" height="652" fill="rgb(238, 223, 227)" />
        </svg>              
        <p class="side-description">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <img src="/assets/download.jpg" alt="Wedding Image 2" class="bouquet-image">
    </div>
</div>
