<div class="wedding-container">
    <div class="wedding-image">
      <img src="/assets/tg-min.jpg" alt="Wedding Image" />
      <svg width="700" height="500" viewBox="0 0 700 500" xmlns="http://www.w3.org/2000/svg">
        <rect width="700" height="500" fill="rgb(212,182,190)" />
      </svg>
      
    </div>
    <div class="wedding-text">
      <h1>Modern Wedding</h1>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
      <p class="credit">Image from <a href="#">Freepik</a></p>
      <button class="read-more-btn">READ MORE</button>
    </div>
  </div>
  