<div class="container">
    <div class="text-section">
        <div class="text-flex">
            <div>
                <h1 class="title">Talk to us and we’ll find the best way to work together</h1>
                <hr>
            </div>
            <div>
                
                <p class="description">
                    Scelerisque purus semper eget duis at tellus at urna condimentum. Varius quam quisque id diam. Id nibh tortor id aliquet lectus proin. 
                    Platea dictumst vestibulum rhoncus est pellentesque elit. Morbi tempus iaculis urna id volutpat lacus. Pharetra diam sit amet nisl 
                    suscipit. Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Massa ultricies mi quis hendrerit dolor.
                </p>
                <svg width="1000" height="600" viewBox="0 0 496 496" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="1000" height="600" fill="rgb(238,223,227)" />
                </svg>
                <button class="learn-more-btn">Learn More</button>
            </div>
        </div>
    </div>
 
</div>
